#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.progress {
  width: 60%;
  max-width: 50%;
  height: 10px;
  background-color: #ddd;
  border-radius: 5px;
}

.progress-gradient {
  animation: progress-bar-gradient 2s linear infinite;
}

@keyframes progress-bar-gradient {
  0% {
    background: linear-gradient(to right, #f00, #ff0);
  }
  50% {
    background: linear-gradient(to right, #ff0, #0f0);
  }
  100% {
    background: linear-gradient(to right, #0f0, #00f);
  }
}